body {
    background-image: url("../images/admin.jpg");
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #64d3d0;
    color: #0d0d0d;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #64d3d0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #03334f;
}

th, td {
    padding: 10px;
    text-align: left;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 5px;
}

.link {
    margin-left: 1300px;
    color: rgb(98, 186, 209);
    margin-top: -40px;
}

